<div class="navbar-default sidebar" role="navigation">
    <div class="alert alert-danger" style="border-radius:0px;margin-bottom:0px;" ng-if="!controller">
        <i class="fa fa-bolt fa-fw"></i>Controller not connected
    </div>
    <div class="alert alert-success" style="border-radius:0px;margin-bottom:0px;" ng-if="controller">
        <i class="fa fa-bolt fa-fw"></i>Connected to controller
    </div>
    <div class="sidebar-nav navbar-collapse">
        
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-home fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.remote"><i class="fa fa-rocket fa-fw"></i> Remote Controller</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.smurfs"><i class="fa fa-table fa-fw"></i> Smurfs List</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-bar-chart-o fa-fw"></i> Stats - <span>Disabled for Beta</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.logs"><i class="fa fa-info fa-fw"></i> Logs<span></span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.shell"><i class="fa fa-terminal fa-fw"></i> Windows Console<span></span></a>
            </li>
            <li ui-sref-active="active" style="display:none;">
                <a ui-sref="dashboard.chat"><i class="fa fa-wechat fa-fw"></i> Chat<span></span></a>
            </li>
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-gears fa-fw"></i> AI<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.items">Items</a>
                    </li>
                    <li ui-sref-active="active" style="display:none;">
                        <a ui-sref="dashboard.levels">Level Squence</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.impexp">Import & Export</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



