<div class="panel-body">
    <ul class="timeline">
        <li ng-repeat="log in timeLineLogs  | reverse" ng-class="{'timeline-inverted': log.code != 'success'}">
            <div class="timeline-badge" ng-class="log.code">
                <i class="fa fa-check" ng-if="log.code == 'success'"></i>
                <i class="fa fa-exclamation" ng-if="log.code == 'danger'"></i>
                <i class="fa fa-info" ng-if="log.code == 'warning'"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{log.smurf}}</h4>
                    <p>
                    <small class="text-muted">
                        <i class="fa fa-clock-o"></i> 
                        {{log.date}}
                    </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{log.text}}.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
