<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Hands Free Leveler Remote Client</a>
    </div>
    <!-- /.navbar-header -->
    <header-notification></header-notification>

    <sidebar></sidebar>
    <div class="alertOwner" style="position:fixed;right:20px;top:60px;width:300px;">
            <div class="alert ng-isolate-scope alert-alert.type alert-dismissable" role="alert" ng-repeat="alert in alerts" type="alert.type" ng-class="['alert-' + (alert.type || 'warning'), closeable ? 'alert-dismissable' : null]" close="closeAlert($index)">
            <button type="button" class="close" ng-click="closeAlert($index)">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <div><span class="ng-scope ng-binding">{{alert.msg}}</span></div>
        </div>
    </div>
</nav>