<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Items</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        	<div class="panel-heading">
        		<input class="form-control" value="" placeholder="Champion Name" ng-model="search">
            </div>
            <div class="panel-body">
            	<herolist list="heroList" search="search"></herolist>
            </div>
        </div>
    </div>
</div>