<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Logs</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
		<button type="button" class="btn btn-inline btn-default" ng-repeat="smurf in smurfsFromLogs()" ng-click="show(smurf)">{{smurf}}</button>
    </div>
</div>
<hr>
<div class="row">
	<div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                System Logs
            </div>
            <div class="panel-body" style="height:600px;padding-left:3px;padding-top:0px;overflow-y:auto;">
                <ol style="margin-left:10px;">
				  	<li ng-repeat="log in systemLogs() | reverse">
				  		<small style="margin-right:20px;">{{log.date}}</small>
				  		<span ng-class="'text-'+log.code">{{log.text}}</span>
				  	</li>
				</ol>
            </div>
        </div>
	</div>
	<div class="col-lg-6" ng-if="logSmurf">
	    <div class="row">
			<div class="col-lg-12">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                {{logSmurf}}
		            </div>
		            <div class="panel-body" style="height:600px;padding-left:3px;padding-top:0px;overflow-y:auto;">
		                <ol style="margin-left:10px;">
						  	<li ng-repeat="log in smurfLogs() | reverse">
							  	<small style="margin-right:20px;">{{log.date}}</small>
							  	<span ng-class="'text-'+log.code">{{log.text}}</span>
						  	</li>
						</ol>
		            </div>
		        </div>
			</div>
		</div>
	</div>
</div>