<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Remote Controller</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<hero name="draven"></hero>
		<hero name="vayne"></hero>
		<hero name="alistar"></hero>
		<hero name="annie"></hero>
		<hero name="katarina"></hero>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            	<i class="fa fa-bar-chart-o fa-fw"></i>
                Live Stats
            </div>
            <div class="panel-body">
                <div class="list-group">
			        <a class="list-group-item">
			            <i class="fa fa-clock-o fa-fw"></i> Game Time
			            <span class="pull-right text-muted small"><em>12:43</em>
			            </span>
			        </a>
			        <a class="list-group-item">
			            <i class="fa fa-child fa-fw"></i> Level
			            <span class="pull-right text-muted small"><em>13</em>
			            </span>
			        </a>                
			        <a class="list-group-item">
			            <i class="fa fa-legal fa-fw"></i> Kills
			            <span class="pull-right text-muted small"><em>10</em>
			            </span>
			        </a>
			        <a class="list-group-item">
			            <i class="fa fa-frown-o fa-fw"></i> Deaths
			            <span class="pull-right text-muted small"><em>1</em>
			            </span>
			        </a>
			        <a class="list-group-item">
			            <i class="fa fa-eye fa-fw"></i> Assists
			            <span class="pull-right text-muted small"><em>5</em>
			            </span>
			        </a>
			        <a class="list-group-item">
			            <i class="fa fa-money fa-fw"></i> Total Value
			            <span class="pull-right text-muted small"><em>2367</em>
			            </span>
			        </a>
			        <a class="list-group-item">
			            <i class="fa fa-usd fa-fw"></i> Money
			            <span class="pull-right text-muted small"><em>167</em>
			            </span>
			        </a>
			    </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
            	<i class="fa fa-bar-chart-o fa-fw"></i>
                Live Items
            </div>
            <div class="panel-body">
            	<div class="col-xs-2" style="padding-left:5px;padding-right:5px;"><item name="Aegis of the Legion"></item></div>
            	<div class="col-xs-2" style="padding-left:5px;padding-right:5px;"><item name="Atma's Impaler"></item></div>
            	<div class="col-xs-2" style="padding-left:5px;padding-right:5px;"><item name="Aegis of the Legion"></item></div>
            	<div class="col-xs-2" style="padding-left:5px;padding-right:5px;"><item name="Aegis of the Legion"></item></div>
            	<div class="col-xs-2" style="padding-left:5px;padding-right:5px;"><item name="Aegis of the Legion"></item></div>
            	<div class="col-xs-2" style="padding-left:5px;padding-right:5px;"><item name="Aegis of the Legion"></item></div>
            </div>
        </div>
	</div>
	<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            	<i class="fa fa-bar-chart-o fa-fw"></i>
                Live Map
            </div>
            <div class="panel-body">
                <div style="position:relative;">
                  	<img src="http://ddragon.leagueoflegends.com/cdn/6.1.1/img/map/map11.png" width="100%" id="currentmap"/>
                  	<!--<img src="/img/aram.png" width="100%" id="currentmap"/>-->
                  	<hero name="draven" minimap="minimap"></hero>
                </div>
            </div>
        </div>
	</div>
    <div class="col-lg-4">
        <chatsmurf></chatsmurf>
    </div>
</div>