<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Settings</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
       <div class="panel panel-default">
            <div class="panel-heading">
                System Settings
            </div>
            <div class="panel-body">
                <div class="row">
                	<div class="col-lg-6">
                		<div class="form-group">
                			<label>Client Packet Search</label>
                			<p class="help-block">Hands Free Leveler uses a clientless queue system to connect your smurfs, so this system requires packet structures to talk with the Riot servers. We have a special feature to detect new packets to make your smurfs secure. This process requires some time (3-5) minutes.</p>
                			<div class="radio">
				                <label>
				                    <input type="radio" name="packetSearch" id="norender" ng-value="1" ng-model="user.userData.settings.packetSearch" >Search client packets for more security (3-5 minutes before each start)              
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="packetSearch" id="render" ng-value="0" ng-model="user.userData.settings.packetSearch" >Use the existing settings
				                </label>
				            </div>
                		</div>
                    </div>
                    <div class="col-lg-6">
                		<div class="form-group">
                			<label>RP Boost 3 Days</label>
                			<p class="help-block">If you want to level up fast and spend some RP from your account, enable this option. When you are level 5, system will buy boost for you.</p>
                			<div class="radio">
				                <label>
				                    <input type="radio" name="boostOptions" id="boost" ng-value="1" ng-model="user.userData.settings.buyBoost" >Buy boost              
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="boostOptions" id="noboost" ng-value="0" ng-model="user.userData.settings.buyBoost" >Don't buy boost
				                </label>
				            </div>
                		</div>
                	</div>
                	<div class="col-lg-6">
                		<div class="form-group">
                			<label>Reconnection Settings</label>
                			<p class="help-block">If your game is bugsplatting system could be outdated and it is dangerous to continue. But sometimes it is just a bugsplat, maybe everything is alright...</p>
                			<div class="radio">
				                <label>
				                    <input type="radio" name="reconnectOptions" id="norender" ng-value="1" ng-model="user.userData.settings.reconnect" >Reconnect On Error           
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="reconnectOptions" id="render" ng-value="0" ng-model="user.userData.settings.reconnect" >Don't Reconnect
				                </label>
				            </div>
                		</div>
                    </div>
                    <div class="col-lg-6">
	                	<div class="form-group">
				            <label>Disabling GPU</label>
				            <p class="help-block">Disabling Gpu saves lots of rendering power from your computer and let you use your computer without seing any game windows. You can watch your game from Remote Controller anytime you want. (Uses a special method to disable drawing, does not replace config)</p>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="renderOptions" id="norender" ng-value="1" ng-model="user.userData.settings.disableGpu" >Don't render Game (Performance Mode)            
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="renderOptions" id="render" ng-value="0" ng-model="user.userData.settings.disableGpu" >Render Game
				                </label>
				            </div>
			            </div>
			        </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Manual Injection</label>
                            <p class="help-block">Sometimes Bol fails to inject to multiple games same time, use manual injection method if you want to fix this issue. Most of the AFK reports are because of this option is disabled</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="InjectionOptions" id="norender" ng-value="1" ng-model="user.userData.settings.manualInjection" >Manual Injection
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="InjectionOptions" id="render" ng-value="0" ng-model="user.userData.settings.manualInjection" >Bol Injection
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:none;">
    <div class="col-lg-12">
       <div class="panel panel-default">
            <div class="panel-heading">
                Session Settings
            </div>
            <div class="panel-body">
                <p class="help-block">Sessions settings are under development. What you will find here? Close computer after X, when all smurfs done. Rotation between smurf accounts and many more...</p>
            </div>
        </div>
    </div>
</div>