<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Settings</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
       <div class="panel panel-default">
            <div class="panel-heading">
                System Settings
            </div>
            <div class="panel-body">
                <div class="row">
                	<div class="col-lg-6">
                		<div class="form-group">
                			<label>Client Packet Search</label>
                			<p class="help-block">Hands Free Leveler uses a clientless queue system to connect your smurfs, so this system requires packet structures to talk with the Riot servers. We have a special feature to detect new packets to make your smurfs secure. This process requires some time (3-5) minutes.</p>
                			<div class="radio">
				                <label>
				                    <input type="radio" name="packetSearch" id="norender" value="search" checked>Search client packets for more security (3-5 minutes before each start)              
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="packetSearch" id="render" value="dont">Use the existed settings
				                </label>
				            </div>
                		</div>
                		<div class="form-group">
                			<label>RP Boost 3 Days</label>
                			<p class="help-block">If you want to level up fast and spend some RP from your account, enable this option. When you are level 5, system will buy boost for you.</p>
                			<div class="radio">
				                <label>
				                    <input type="radio" name="boostOptions" id="boost" value="boost" checked>Buy boost              
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="boostOptions" id="noboost" value="noboost">Don't buy boost
				                </label>
				            </div>
                		</div>
                	</div>
                	<div class="col-lg-6">
                		<div class="form-group">
                			<label>Reconnection Settings</label>
                			<p class="help-block">If your game is bugsplatting system could be outdated and it is dangerous to continue. But sometimes it is just a bugsplat, maybe everything is alright...</p>
                			<div class="radio">
				                <label>
				                    <input type="radio" name="reconnectOptions" id="norender" value="reconnect" checked>Reconnect On Error              
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="reconnectOptions" id="render" value="noconnect">Don't Reconnect
				                </label>
				            </div>
                		</div>


	                	<div class="form-group">
				            <label>Disabling GPU</label>
				            <p class="help-block">Disabling Gpu saves lots of rendering power from your computer and let you use your computer without seing any game windows. You can watch your game from Remote Controller anytime you want.</p>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="renderOptions" id="norender" value="norender">Don't render Game (Performance Mode)            
				                </label>
				            </div>
				            <div class="radio">
				                <label>
				                    <input type="radio" name="renderOptions" id="render" value="render" checked>Render Game
				                </label>
				            </div>
			            </div>
			        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
       <div class="panel panel-default">
            <div class="panel-heading">
                Session Settings
            </div>
            <div class="panel-body">
                <p class="help-block">Sessions settings are under development. What you will find here? Close computer after X, when all smurfs done. Rotation between smurf accounts and many more...</p>
            </div>
        </div>
    </div>
</div>