<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Smurfs List</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="well">
                	<div class="row">
	                	<div class="col-md-6">
		                    <div class="form-group">
		                    	<label>Username</label>
		                    	<input class="form-control" value="" placeholder="Username">
		                    </div>    
		                    <div class="form-group">
		                    	<label>Password</label>
		                		<input class="form-control" value="" placeholder="Password">
		                    </div>
		                    <div class="form-group">
		                    	<label>Desired Level</label>
		                    	<select class="form-control">
		                            <option>1</option>
		                            <option>2</option>
		                            <option>3</option>
		                            <option>4</option>
		                            <option>5</option>
		                        </select>
		                    </div>
	                    </div>
	                    <div class="col-md-6">
		                    <div class="form-group">
		                    	<label>Queue Type</label>
		                    	<select class="form-control">
		                            <option>1</option>
		                            <option>2</option>
		                            <option>3</option>
		                            <option>4</option>
		                            <option>5</option>
		                        </select>
		                    </div>
		                    <div class="form-group">
		                    	<label>Region</label>
		                    	<select class="form-control">
		                            <option>1</option>
		                            <option>2</option>
		                            <option>3</option>
		                            <option>4</option>
		                            <option>5</option>
		                        </select>
		                    </div>
		                    <div class="form-group">
	                    		<button type="button" class="btn btn-success btn-lg btn-block">Add Smurf</button>
	                    	</div>
	                    </div>    
                    </div>      
                </div>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Current Level</th>
                                <th>Desired Level</th>
                                <th>Queue Type</th>
                                <th>Region</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="info">
                                <td><input class="form-control" value="Usernamet"></td>
                                <td><input class="form-control" value="Password"></td>
                                <td>5</td>
                                <td class="center">
	                                <select class="form-control">
	                                    <option>1</option>
	                                    <option>2</option>
	                                    <option>3</option>
	                                    <option>4</option>
	                                    <option>5</option>
	                                </select>
                                </td>
                                <td class="center">
                                	<select class="form-control">
	                                    <option>1</option>
	                                    <option>2</option>
	                                    <option>3</option>
	                                    <option>4</option>
	                                    <option>5</option>
	                                </select>
                                </td>
                                <td class="center">
					                <select class="form-control">
					                	<option value="EUW">EUW</option>
					                	<option value="TR">TR</option>
					                	<option value="EUNE">EUNE</option>
					                	<option value="NA">NA</option>
					                	<option value="KR">KR</option>
					                	<option value="BR">BR</option>
					                	<option value="OCE">OCE</option>
					                	<option value="RU">RU</option>
					                	<option value="LAS">LAS</option>
					                	<option value="LAN">LAN</option>
					                </select>
                                </td>
                                <td class="center">
                                	<button type="button" class="btn btn-info btn-circle"><i class="fa fa-save"></i>
		                            </button>
                                	<button type="button" class="btn btn-success btn-circle" style="margin-left:20px;"><i class="fa fa-play"></i>
		                            </button>
		                            <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-stop"></i>
		                            </button>
		                            <button type="button" class="btn btn-danger btn-circle" style="margin-left:20px;"><i class="fa fa-times"></i>
                                </td>
                            </tr>
                            <tr class="info">
                                <td><input class="form-control" value="Usernamet"></td>
                                <td><input class="form-control" value="Password"></td>
                                <td>8</td>
                                <td class="center">
	                                <select class="form-control">
	                                    <option>1</option>
	                                    <option>2</option>
	                                    <option>3</option>
	                                    <option>4</option>
	                                    <option>5</option>
	                                </select>
                                </td>
                                <td class="center">
                                	<select class="form-control">
	                                    <option>1</option>
	                                    <option>2</option>
	                                    <option>3</option>
	                                    <option>4</option>
	                                    <option>5</option>
	                                </select>
                                </td>
                                <td class="center">
					                <select class="form-control">
					                	<option value="EUW">EUW</option>
					                	<option value="TR">TR</option>
					                	<option value="EUNE">EUNE</option>
					                	<option value="NA">NA</option>
					                	<option value="KR">KR</option>
					                	<option value="BR">BR</option>
					                	<option value="OCE">OCE</option>
					                	<option value="RU">RU</option>
					                	<option value="LAS">LAS</option>
					                	<option value="LAN">LAN</option>
					                </select>
                                </td>
                                <td class="center">
                                	<button type="button" class="btn btn-info btn-circle"><i class="fa fa-save"></i>
		                            </button>
                                	<button type="button" class="btn btn-success btn-circle" style="margin-left:20px;"><i class="fa fa-play"></i>
		                            </button>
		                            <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-stop"></i>
		                            </button>
		                            <button type="button" class="btn btn-danger btn-circle" style="margin-left:20px;"><i class="fa fa-times"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>