body{
	padding: 20px;
}

body.loggedIn{
	padding: 0px !important;
}

.loginBox{
	text-align: center;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navbar{
    border-radius:0px;
    margin-bottom:0px !important;
}
.forum-logo{
    float: left;
    max-height: 50px;
    width: auto;
    position: relative;
    top: -15px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 44px none #ffffff;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #676767;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #7b7c84;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#diagramContainer {
    height: 1000px;
    border-right: 1px solid gray;
    float:left;
}
        
.item {
    position: absolute;
}

#diagramContainer .panel{
    margin-bottom:0px !important;
}